#cloud-config
users:
  - name: ansible
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQ... # ВСТАВ СВІЙ ПУБЛІЧНИЙ КЛЮЧ
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    groups: sudo
    shell: /bin/bash

  - name: teacher
    lock_passwd: false
    passwd: "$6$rounds=4096$rounds=4096$mysalt$v0M6vH6J0X.p.wS..." # Хеш пароля 12345678
    sudo: ['ALL=(ALL) PASSWD:ALL']
    groups: sudo
    shell: /bin/bash

chpasswd:
  list: |
    teacher:12345678
  expire: False