local   all             postgres                                peer
local   all             all                                     peer

host    all             all             127.0.0.1/32            md5
host    all             all             {{ postgres_allowed_ip }}/32 md5